@use "../../theme/variables/colors";
@use "../../theme/variables/spacings";

.heading {
  margin-bottom: spacings.$big;

  &__title {
    margin-bottom: spacings.$medium;
    width: 60%;
  }

  &__subtitle {
    display: block;
    font-size: 1.2rem;
    max-width: 70%;
    line-height: 1.5rem;
  }

  &__title,
  &__subtitle {
    color: colors.$secondary;
  }
  &--highlight {
    color: colors.$contrast;
  }

  &--main {
    h1 {
      font-size: 5rem;
      width: 40%;
    }
  }
}
