@use "../../theme/variables/breakpoints";
@use "../../theme/variables/spacings";
@use "../../theme/components/snow";

.app {
  margin: 0 auto;
  max-width: breakpoints.$small;
  padding: 6rem spacings.$medium;
  min-height: 100vh;

  display: flex;
  align-items: center;

  @media (min-width: breakpoints.$small) {
    max-width: breakpoints.$big;
  }

  @media (min-width: breakpoints.$big) {
    max-width: breakpoints.$large;
  }
}
