@use "../../theme/variables/breakpoints";

.main {
  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: breakpoints.$big) {
      flex-direction: column;
    }
  }

  &__sidebar {
    max-width: 20rem;
    flex: 1;
    align-self: center;

    @media (max-width: breakpoints.$big) {
      width: 100%;
    }
  }
}
