@use "../../theme/variables/breakpoints";

.main {
  display: flex;

  display: flex;
  justify-content: space-between;

  @media (max-width: breakpoints.$big) {
    flex-direction: column;
  }

  &__content {
    max-width: 70vw;

    @media (min-width: breakpoints.$small) {
      max-width: 100%;
    }
  }

  &__sidebar {
    max-width: 20rem;
    flex: 1;
    align-self: center;

    @media (max-width: breakpoints.$big) {
      width: 100%;
    }
  }
}
