$primary: #1c7742;
$primary--light: #1d9a53;

$secondary: rgb(245, 255, 243);
$secondary--darker: rgb(150, 160, 148);

$contrast: #f8b229;

$typography: #071d11;
$typography--light: #071d11;

$error: rgb(240, 54, 54);
$success: rgb(13, 192, 13);
